.discounts {
    text-align: center;
    padding: 20px;
  }

  .discountpage-content {  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 98px;
  }
  
  .discounts h2 {
    margin: 100px;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .discounts p {
    margin: 30px;
    padding: 10px;
    font-size: 16px;
  }
  