footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    width: 97.3%;
}

.footer-section {
    text-align: left;
    margin-bottom: 10px;
    margin-right: 50px;
}

.footer-section p {
    margin: 5px 0;
}
