/* Header.css */
body {
    font-family: 'Rubik Bubbles', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
}

.header-list {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
  }
  
  .header-list li {
    margin-right: 20px;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
    margin-right: 70px;
  }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    color: #ffa154;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions a {
    color: #ffffff;
    margin-left: 20px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.auth-buttons a:hover {
    color: #ffa154;
}

.content {
    min-height: calc(100vh - (40px + 100px));
  /* Высота экрана - (высота header + высота footer) */
  }