header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
}

.header-list {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
  }
  
  .header-list li {
    margin-right: 20px;
  }

  .nav-item {
    display: flex;
    align-items: center;
    margin-left: 90px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
    margin-right: 100px;
  }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    color: #ffa154;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions a {
    color: #ffffff;
    margin-left: 20px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.auth-buttons a:hover {
    color: #ffa154;
}